<% @page_title = "Home" %>
<div class="row">
  <div class="center-block col-md-5" style="float: none">
    <h1 align="center" style="text-decoration: underline">Welcome to New Project App</h1>
    <p align="justify" style="font-size: 22px">
      NewApp is a browser based solution to help you learn piano in a better and faster way.
      NewApp is made on top of open source technologies. It is free and always will be.
    </p>
  </div>
  <br>
  <div class="center-block col-md-3" style="float: none">
    <%= form_for(:user, :url => {:action => 'login'}, :html => {:class => 'form-signin', :id => 'signin'}) do |f|%>
        <%= f.text_field(:email, :max_length => 100, :placeholder => 'Email', :class => 'form-control') %>
        <%= f.password_field(:password, :placeholder => 'Password', :class => 'form-control') %>
        <br>
        <%= submit_tag('Sign In', :class =>'btn btn-lg btn-primary btn-block') %>
    <% end %>
  </div>
  <p align="center" style="font-size: 15px">
   OR
  </p>
  <div class="center-block col-md-3" style="float: none" id="signUpForm">
    <%= form_for(:user, :url => {:action => 'register'}, :html => {:class => 'form-signin'}) do |f|%>
        <%= f.label :name, 'Your Name' %>
        <%= f.text_field(:first_name, :max_length => 40, :placeholder => 'First Name', :class => 'form-control', :autofocus => true) %>
        <%= f.text_field(:last_name, :max_length => 40, :placeholder => 'Last Name', :class => 'form-control') %>
        <%= f.label :name, 'Your Email Id' %>
        <%= f.text_field(:email, :max_length => 100, :placeholder => 'Email', :class => 'form-control') %>
        <%= f.label :name, 'Choose a Password' %>
        <%= f.password_field(:password, :placeholder => 'Password', :class => 'form-control') %>
        <br>
        <%= submit_tag('Sign Up', :class =>'btn btn-lg btn-primary btn-block') %>
    <% end %>
  </div>
</div>
