<% @page_title = "Home" %>
<%= error_messages_for(@user) %>
<div class="row">
  <div class="center-block col-md-5" style="float: none">
    <h1 align="center" style="text-decoration: underline">Welcome to New Project App</h1>
    <p align="justify" style="font-size: 25px">
      NewApp is a browser based solution to help you learn piano in a better and faster way.
    </p>
    <p align="justify" style="font-size: 25px">
      NewApp is made on top of open source technologies. It is free and always will be.
    </p>
    <p align="center" style="font-size: 25px">
      Give it a try!
    </p>
  </div>
  <br>
  <div class="center-block col-md-3" style="float: none">
    <%= form_for(:user, :url => {:action => 'login'}, :html => {:class => 'form-signin', :id => 'signin'}) do |f|%>
        <%= f.text_field(:email, :max_length => 100, :placeholder => 'Email', :class => 'form-control') %>
        <%= f.password_field(:password, :placeholder => 'Password', :class => 'form-control') %>
        <br>
        <%= submit_tag('Sign In', :class =>'btn btn-lg btn-primary btn-block') %>
    <% end %>
  </div>
  <p align="center">
    <a href="" data-toggle="modal" data-target="#singup" id="loadSignUpForm">Not a user yet? Sign Up!</a>
  </p>

  <div class="modal fade" id="singup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Sign Up</h4>
        </div>
        <div class="modal-body">
          <div class="center-block col-md-10" style="float: none">
            <%= form_for(:user, :url => {:action => 'register'}, :html => {:class => 'form-signin'}) do |f|%>
                <%= f.label :name, 'Your Name' %>
                <%= f.text_field(:first_name, :max_length => 40, :placeholder => 'First Name', :class => 'form-control', :autofocus => true) %>
                <%= f.text_field(:last_name, :max_length => 40, :placeholder => 'Last Name', :class => 'form-control') %>
                <%= f.label :name, 'Your Email Id' %>
                <%= f.text_field(:email, :max_length => 100, :placeholder => 'Email', :class => 'form-control') %>
                <%= f.label :name, 'Choose a Password' %>
                <%= f.password_field(:password, :placeholder => 'Password', :class => 'form-control') %>
                <br>
                <%= submit_tag('Sign Up', :class =>'btn btn-lg btn-primary btn-block') %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
