<% with_flats = %w(A B D E G) %>
<% note_count = 23 %>
<% blackNotes = [] %>
<% whiteNotes = [] %>
<div class="p-wrapper">
  <ul id="piano">
    <% for octave in [1,2,3,4,5,6] do %>
        <% for note in %w(C D E F G A B) %>
            <% if with_flats.include?(note) %>
                <li>
                  <div class="white" id="<%= note_count+=1 %>"  onmousedown="addActiveWhite('<%=note_count%>')" onmouseup="removeActiveWhite('<%=note_count%>')"></div>
                  <% whiteNotes.push(note_count) %>
                  <div class="black" id="<%= note_count+=1 %>" onmousedown="addActiveBlack('<%=note_count%>')" onmouseup="removeActiveBlack('<%=note_count%>')"></div>
                  <% blackNotes.push(note_count) %>
                </li>
            <% else %>
                <li>
                  <div class="white" id="<%= note_count+=1 %>" onmousedown="addActiveWhite('<%=note_count%>')" onmouseup="removeActiveWhite('<%=note_count%>')"></div>
                  <% whiteNotes.push(note_count) %>
                </li>
            <% end %>
            <% if octave==6 %>
                <% break %>
            <% end %>
        <% end %>
    <% end %>
  </ul>
</div>