<% @page_title = "Watch" %>
<% with_flats = %w(A B D E G) %>
<% note_count = 23 %>
<% blackNotes = [] %>
<% whiteNotes = [] %>
<div class="p-wrapper">
  <ul id="piano">
    <% for octave in [1,2,3,4,5,6] do %>
        <% for note in %w(C D E F G A B) %>
            <% if with_flats.include?(note) %>
                <li>
                  <div class="white" id="<%= note_count+=2 %>"  onmousedown="addActiveWhite('<%=note_count%>')" onmouseup="removeActiveWhite('<%=note_count%>')"></div>
                  <% whiteNotes.push(note_count) %>
                  <div class="black" id="<%= note_count-1 %>" onmousedown="addActiveBlack('<%=note_count-1%>')" onmouseup="removeActiveBlack('<%=note_count-1%>')"></div>
                  <% blackNotes.push(note_count-1) %>
                </li>
            <% else %>
                <li>
                  <div class="white" id="<%= note_count+=1 %>" onmousedown="addActiveWhite('<%=note_count%>')" onmouseup="removeActiveWhite('<%=note_count%>')"></div>
                  <% whiteNotes.push(note_count) %>
                </li>
            <% end %>
            <% if octave==6 %>
                <% break %>
            <% end %>
        <% end %>
    <% end %>
  </ul>
</div>

<script type="text/javascript">
  var delay = 0; // play one note every quarter second
  var velocity = 127; // how hard the note hits

  function playNote(note){
    MIDI.noteOn(0, note, velocity, delay);
    MIDI.noteOff(0, note, delay + 0.75);
  }

  function addActiveWhite(id){
    $('#'+id).addClass('white-active');
    if(!player.playing){
      playNote(parseInt(id));
    }
  }

  function removeActiveWhite(id){
    $('#'+id).removeClass('white-active');
  }

  function addActiveBlack(id){
    $('#'+id).addClass('black-active');
    if(!player.playing){
      playNote(parseInt(id));
    }
  }

  function removeActiveBlack(id){
    $('#'+id).removeClass('black-active');
  }
</script>