<% pagesWithPlay = %w(Learn Play) %>
<!DOCTYPE html>
<html>
<head>
  <title>AppMidi | <%= @page_title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
<% unless session[:user_id].blank? %>
<div class="modal fade" id="upload" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Upload a New Midi Track</h4>
      </div>
      <div class="modal-body">
        <%= bootstrap_form_for(@track, url: {controller: 'home' ,action: 'submit_song'}) do |t| %>
            <%= t.text_field :name %>
            <%= t.text_field :artist %>
            <%= t.text_field :genre %>
            <%= t.file_field :midi_file, label: 'Choose Midi File', label_class: 'btn btn-default btn-file' %>
            <%= t.submit 'Upload', class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-header">
    <a class="navbar-brand" href="/home/learn">MIDI Play</a>
    <a class="navbar-brand" href="" id="menu-toggle">| | |&emsp;<%= @page_title %></a>
  </div>
  <ul class="nav navbar-nav navbar-right">
    <li class="navbar-li-right">
      <% if session[:user_id].blank? %>
          <%= link_to 'Upload A Song', {:controller => 'access', :action => 'index'} %>
          <% else %>
          <a href="" data-toggle="modal" data-target="#upload">Upload A Song</a>
      <% end %>
    </li>
  <% if session[:user_id].blank? %>
        <li><%= link_to 'Sign In', {:controller => 'access', :action => 'index'}, :class => 'navbar-li-right' %></li>
      <% else %>
        <li><%= link_to 'Logout', {:controller => 'access', :action => 'logout'}, :class => 'navbar-li-right'%></li>
  <% end %>
    </ul>
</nav>
<div id="wrapper" class="toggled">
  <%= render partial: 'layouts/sidebar'%>
  <div id="page-content-wrapper">
    <%= yield %>
    </div>
  <% if pagesWithPlay.include?(@page_title) %>
  <%= render partial: 'layouts/player' %>
  <% end %>
</div>
</body>
</html>
        <script type="text/javascript">
          $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
          });
        </script>